$max: 20;
$offset: 1;
$unit: 'rem'; 
@mixin list-loop($className, $styleName) {
  $i: 0;
  @while $i <= $max {
    #{$className + $i} { 
      #{$styleName}: #{$i/2 + $unit};
    }
    $i: $i + $offset;
  }
}
@include list-loop('.pl-', 'padding-left');
@include list-loop('.mt-', 'margin-top');
@include list-loop('.mr-', 'margin-right');
@include list-loop('.mb-', 'margin-bottom');
@include list-loop('.ml-', 'margin-left');
@include list-loop('.m-', 'margin');
// Paddings
@include list-loop('.pt-', 'padding-top');
@include list-loop('.pr-', 'padding-right');
@include list-loop('.pb-', 'padding-bottom');
@include list-loop('.pl-', 'padding-left');
@include list-loop('.p-', 'padding');

// Media Query
$tablet: 768;
$desktop: 1140;

@mixin tablet {
  @media only screen and (min-width: $tablet * 1px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: $desktop * 1px) {
    @content;
  }
}