@import "./_mixins.scss";
@import "./_variables.scss";
// GLOBAL STYLE

.bg-white{
    background-color: white;
}
.text-white{
    color: white;
}
.bg-primary{
    background-color: $primary-color ;
}
.text-primary{
    color:$primary-color;
}
a,button{
    min-width: 44px;
    min-height: 44px;
}
button{
    cursor: pointer;
}
.container{
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.flex{
    display: flex;
}
.text-center{
    text-align: center;
}